.home {
  flex: 4;
  height: calc(100vh -50px);
}

.CardBox{
  margin: 10px 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  -moz-box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  margin-bottom: 20px;
}

.ButtonBox{
  alignItems: 'center';
  justifyContent: 'center';
  paddingVertical: 12;
  paddingHorizontal: 32;
  borderRadius: 4;
  elevation: 3;
  backgroundColor: 'black'
}

.accountSubtitle{
  color: midnightblue;
  font-style: 10px;
  font-weight: 300;
}

.featuredAccountItem{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  -moz-box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  margin-bottom: 20px;
}

.productImage{
  display: flex;
  width: 100px;
  height: 100px;
}

.subscriptionImage{
  display: flex;
  width: 160px;
  height: 140px;
  float: right;
}
